{% extends 'homework/base.html' %}
{% load static %}
{% block title %}イベントボタンの作成{% endblock %}
{% block content %}


    <h1>イベントボタンの作成</h1>

    <!-- フォーム -->
    <form method="post" >
        {% csrf_token %}
    
        <div class="form-group">
            <label for="{{ form.name.id_for_label }}" class="form-label">イベント名:</label>
            {{ form.name }}
            {{ form.name.errors }}
        </div>
    
        <button type="submit" class="next-button">イベントボタンを作成</button>
    </form>
    
    
    <h2 class="template-heading">作成済みテンプレート</h2>

    <div class="template-list">
        {% for template in templates %}
        <div class="template-box">
            <div class="template-title">
                📅 <strong>{{ template.name }}</strong>
            </div>
    
            {% if template.start_time and template.end_time %}
            <div class="template-time">
                🕒 {{ template.start_time|time:"H:i" }}〜{{ template.end_time|time:"H:i" }}
            </div>
            {% endif %}
    
            <div class="template-delete">
                <a href="{% url 'delete_event_template' template.id %}" class="delete-button">
                    ❌ 削除
                </a>
            </div>
        </div>
        {% empty %}
        <p class="no-template-msg">まだテンプレートはありません。</p>
        {% endfor %}
    </div>


    
<!-- 戻るボタン -->
<div class="text-center mt-5xl mb-10xl">
    <a href="{% url 'add_event_step1' %}" class="back-button">
      ← 戻る
    </a>
  </div>

  {% endblock %}


