{% extends 'homework/base.html' %}
{% load static %}
{% block content %}

<div class="arrow-steps">
  <div class="step current">1</div>
  <div class="step">2</div>
  <div class="step">3</div>
</div>

<h1>①イベントボタンを選択しましょう。</h1>
<form method="post">
  {% csrf_token %}
  <input type="hidden" name="name" id="id_name">

  <div class="button-group">
    {% for template in templates %}
      <button type="button" class="template-button"
              data-name="{{ template.name }}">
        📅 {{ template.name }}
      </button>
    {% empty %}
      <p>テンプレートがありません。</p>
    {% endfor %}

    <button type="button" class="template-button mt-gap"
            onclick="location.href='{% url 'add_event_template' %}'">
      ➕ イベントを新規作成or削除
    </button>
  </div>

  <div class="text-center mt-5xl mb-5xl">
    <button type="submit" class="next-button">次へ進む</button>
  </div>
</form>


<!-- 戻るボタン -->
<div class="text-center mt-5xl mb-5xl">
  <a href="{% url 'weekly_view' %}" class="back-button">
    ← 戻る
  </a>
</div>



<script>
  const buttons = document.querySelectorAll('.template-button');
  buttons.forEach(button => {
    // 通常のテンプレート選択ボタンだけにイベントを追加
    if (button.dataset.name) {
      button.addEventListener('click', () => {
        buttons.forEach(b => b.classList.remove('selected'));
        button.classList.add('selected');
        document.getElementById('id_name').value = button.dataset.name;
      });
    }
  });
</script>

{% endblock %}
