{% extends 'homework/base.html' %}
{% block content %}

<div class="arrow-steps">
  <div class="step done">1</div>
  <div class="step done">2</div>
  <div class="step current">3</div>
</div>

<h1>③ 内容確認と登録</h1>

<div class="mb-4"></div>
  <div class="bg-white shadow-lg rounded-xl p-6 border border-gray-200">
    <div class="text-2_8rem text-gray-500 mb-4">選択した日付</div>
    <div class="text-2_8rem font-semibold text-blue-600 leading-snug">
      📅 {{ event_name }}
    </div>
  </div>
</div>

<div class="mb-4"></div>
  <div class="bg-white shadow-lg rounded-xl p-6 border border-gray-200">
    <div class="text-2_8rem text-gray-500 mb-4">選択したイベント</div>
    <div class="text-2_8rem font-semibold text-blue-600 leading-snug">
      📅 {{ event_date }}
    </div>
  </div>
</div>



<form method="post">
  {% csrf_token %}
  <div class="text-center mt-5xl mb-10xl">
    <button type="submit" class="next-button"> 登録する</button>
</div>

</form>

{% endblock %}
