{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}宿題管理アプリ{% endblock %}</title>
    <!-- ✅ Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'homework/style.css' %}">


    <!-- 🔥 ここにGoogle Fonts追加 -->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
    <style>
        form label {
            font-size: 2.8rem !important;
        }
    </style>
</head>
<body >

    <header class="container header-right">
        {% if user.is_authenticated %}
            <div class="user-info">
                <a href="{% url 'logout' %}" class="logout-button">ログアウト</a>
            </div>
        {% else %}
            <div class="user-info">
                <a href="{% url 'login' %}">ログイン</a> |
                <a href="{% url 'signup' %}">ユーザー登録</a>
            </div>
        {% endif %}
    </header>

    <main class="content">
        {% block content %}
        {% endblock %}
    </main>


</body>
</html>
