{% extends 'homework/base.html' %}
{% load static %}
{% block title %}宿題用 コーステンボタンの作成{% endblock %}
{% block content %}



<h1>宿題用 コースボタンの作成</h1>

    <!-- フォーム -->
    <form method="post" >
        {% csrf_token %}
    
        <div class="form-group">
            <label for="{{ form.name.id_for_label }}" class="form-label">コース名:</label>
            {{ form.name }}
            {{ form.name.errors }}
        </div>
    
        <button type="submit" class="next-button">コースボタンを作成</button>
    </form>






<h2>すでに作成済みのコース</h2>

<div class="template-list">

    {% for course in courses %}
    <div class="template-box">
        <div class="template-title">
            📘  <strong>{{ course.name }}</strong>
        </div>


        <div style="text-align: right; margin-top: 8px;">
            <a href="{% url 'delete_homework_course' course.pk %}"
               onclick="return confirm('このコースを削除しますか？')" 
               style="padding: 4px 8px; background-color: #f44336; color: white; border-radius: 4px; text-decoration: none; font-size: 0.9em;">
                ❌ 削除
            </a>
        </div>
    </div>
{% empty %}
    <p>まだコースは登録されていません。</p>
{% endfor %}
</div>

<!-- 戻るボタン -->
<div class="text-center mt-5xl mb-10xl">
    <a href="{% url 'homework_wizard_step2' %}" class="back-button">
      ← 戻る
    </a>
  </div>


  {% endblock %}