{% extends 'homework/base.html' %}
{% load static %}
{% load homework_extras %}

{% block title %}授業登録 Step 2{% endblock %}

{% block content %}

<!-- ステップバー -->
<div class="arrow-steps">
    <div class="step done">1</div>
    <div class="step current">2</div>
    <div class="step">3</div>
</div>

    <h1>授業登録ステップ③：確認</h1>

    <p>以下の内容で登録します。よろしければ「登録する」を押してください。</p>

    <ul>
        <li><strong>科目：</strong>{{ subject.name }}</li>
        <li><strong>コース：</strong>{{ course.name }}</li>
        <li><strong>時間：</strong>{{ start_time }} 〜 {{ end_time }}</li>
        <li><strong>登録日：</strong>
            <ul>
                {% for date in selected_dates %}
                    <li>{{ date }}</li>
                {% endfor %}
            </ul>
        </li>
    </ul>

    <form method="post">
        {% csrf_token %}
        <button type="submit" class="next-button">✅ 登録する</button>
    </form>
 {% endblock %}
