{% extends 'homework/base.html' %}
{% load static %}
{% block title %}宿題登録 Step 3{% endblock %}
{% block content %}

<!-- ステップバー（矢印） -->
<div class="arrow-steps">
  <div class="step done">1</div>
  <div class="step done">2</div>
  <div class="step current">3</div>
  <div class="step">4</div>
  <div class="step">5</div>
  <div class="step">6</div>
  <div class="step">7</div>
</div>

    
  <div class="mb-4">
    <div class="bg-white shadow-lg rounded-xl p-6 border border-gray-200">
      <div class="text-2_8rem text-gray-500 mb-4">選択した科目</div>
      <div class="text-2_8rem  font-semibold text-green-600 leading-snug">
        {{ selected_subject.name }}
      </div>
    </div>
  </div>

  <div class="mb-4">
    <div class="bg-white shadow-lg rounded-xl p-6 border border-gray-200">
      <div class="text-2_8rem text-gray-500 mb-4">選択したコース</div>
      <div class="text-2_8rem  font-semibold text-green-600 leading-snug">
        {{ selected_course.name }}
      </div>
    </div>
  </div>








<h1> 問題タイプを選択</h1>

<form method="post">
  {% csrf_token %}
  <div class="grid grid-cols-1 gap-4">
    {% for pt in problem_types %}
    <button type="submit" name="problem_type" value="{{ pt.id }}"
            class="template-button">
      {{ pt.name }}
    </button>
    {% endfor %}


    <button type="button" class="template-button mt-gap"
          onclick="location.href='{% url 'homework_problem_type_template_list' %}'">
      ＋ 問題タイプを追加・削除
    </button>

  </div>
</form>

<!-- 戻るボタン -->
<div class="text-center mt-5xl mb-10xl">
  <a href="{% url 'homework_wizard_step2' %}" class="back-button">
    ← 戻る
  </a>
</div>


{% endblock %}
</body>
