{% extends 'homework/base.html' %}
{% load static %}
{% block title %}宿題登録 Step 5{% endblock %}
{% block content %}

<!-- ステップバー（矢印） -->
<div class="arrow-steps">
  <div class="step done">1</div>
  <div class="step done">2</div>
  <div class="step done">3</div>
  <div class="step done">4</div>
  <div class="step current">5</div>
  <div class="step">6</div>
  <div class="step">7</div>
</div>



<div class="mb-4">
  <div class="bg-white shadow-lg rounded-xl p-6 border border-gray-200">
    <div class="text-2_8rem text-gray-500 mb-4">選択した科目</div>
    <div class="text-2_8rem  font-semibold text-green-600 leading-snug">
      {{ selected_subject.name }}
    </div>
  </div>
</div>


  <div class="mb-4">
    <div class="bg-white shadow-lg rounded-xl p-6 border border-gray-200">
      <div class="text-2_8rem text-gray-500 mb-4">選択したコース</div>
      <div class="text-2_8rem  font-semibold text-green-600 leading-snug">
        {{ selected_course.name }}
      </div>
    </div>
  </div>


  <div class="mb-4">
    <div class="bg-white shadow-lg rounded-xl p-6 border border-gray-200">
      <div class="text-2_8rem text-gray-500 mb-4">選択した問題タイプ</div>
      <div class="text-2_8rem  font-semibold text-green-600 leading-snug">
        {{ selected_problem_type.name }}
      </div>
    </div>
  </div>


  <div class="mb-4">
    <div class="bg-white shadow-lg rounded-xl p-6 border border-gray-200">
      <div class="text-2_8rem text-gray-500 mb-4">選択した問題数</div>
      <div class="text-2_8rem  font-semibold text-green-600 leading-snug">
        {{ selected_count }}
      </div>
    </div>
  </div>



<h1>宿題の周回数を選択</h2>

<form method="post">
  {% csrf_token %}
  <div class="grid grid-cols-1 gap-4">
    <button type="submit" name="cycles" value="1"
            class="template-button">
      1周 ＋ 総復習
    </button>
    <button type="submit" name="cycles" value="2"
            class="template-button">
      2周 ＋ 総復習
    </button>
    <button type="submit" name="cycles" value="3"
            class="template-button">
      3周 ＋ 総復習
    </button>
  </div>
</form>



<!-- 戻るボタン -->
<div class="text-center mt-5xl mb-10xl">
  <a href="{% url 'homework_wizard_step5' %}" class="back-button">
    ← 戻る
  </a>
</div>



{% endblock %}
</body>
