{% extends 'homework/base.html' %}
{% load static %}
{% block title %}宿題登録 Step 2{% endblock %}
{% block content %}

<!-- ステップバー -->
<div class="arrow-steps">
  <div class="step done">1</div>
  <div class="step current">2</div>
  <div class="step">3</div>
  <div class="step">4</div>
  <div class="step">5</div>
  <div class="step">6</div>
  <div class="step">7</div>
</div>


<div class="mb-4">
  <div class="bg-white shadow-lg rounded-xl p-6 border border-gray-200">
    <div class="text-2_8rem text-gray-500 mb-4">選択した科目</div>
    <div class="text-2_8rem font-semibold text-blue-600 leading-snug">
      {{ selected_subject.name }}
    </div>
  </div>
</div>


<h1>コースを選択</h1>

<form method="post">
  {% csrf_token %}
  <div class="grid grid-cols-1 gap-4">
    {% for course in courses %}
    <button type="submit" name="course" value="{{ course.id }}"
            class="template-button">
      🏫 {{ course.name }}
    </button>
    {% endfor %}

    <!-- コース追加ボタン -->

    <button type="button" class="template-button mt-gap"
          onclick="location.href='{% url 'homework_course_template_list' %}'">
      ＋ コースを追加・削除
    </button>

  </div>
</form>


<!-- 戻るボタン -->
<div class="text-center mt-5xl mb-10xl">
  <a href="{% url 'homework_wizard_step1' %}" class="back-button">
    ← 戻る
  </a>
</div>

{% endblock %}
</body>
