{% extends 'homework/base.html' %}
{% load static %}
{% block title %}宿題登録 Step 4{% endblock %}
{% block content %}

<!-- ステップバー（矢印） -->
<div class="arrow-steps">
  <div class="step done">1</div>
  <div class="step done">2</div>
  <div class="step done">3</div>
  <div class="step current">4</div>
  <div class="step">5</div>
  <div class="step">6</div>
  <div class="step">7</div>
</div>


<div class="mb-4">
  <div class="bg-white shadow-lg rounded-xl p-6 border border-gray-200">
    <div class="text-2_8rem text-gray-500 mb-4">選択した科目</div>
    <div class="text-2_8rem  font-semibold text-green-600 leading-snug">
      {{ selected_subject.name }}
    </div>
  </div>
</div>


  <div class="mb-4">
    <div class="bg-white shadow-lg rounded-xl p-6 border border-gray-200">
      <div class="text-2_8rem text-gray-500 mb-4">選択したコース</div>
      <div class="text-2_8rem  font-semibold text-green-600 leading-snug">
        {{ selected_course.name }}
      </div>
    </div>
  </div>


  <div class="mb-4">
    <div class="bg-white shadow-lg rounded-xl p-6 border border-gray-200">
      <div class="text-2_8rem text-gray-500 mb-4">選択した問題タイプ</div>
      <div class="text-2_8rem  font-semibold text-green-600 leading-snug">
        {{ selected_problem_type.name }}
      </div>
    </div>
  </div>






<h1>問題数を選択</h1>

<form method="post">
  {% csrf_token %}
  <div class="grid grid-cols-1 gap-4">
    {% for num in range_1_max %}
    <button type="submit" name="problem_count" value="{{ num }}"
            class="template-button">
      {{ num }} 問
    </button>
    {% endfor %}


    <button type="button" class="template-button mt-gap"
          onclick="location.href='{% url 'homework_problem_count_setting' %}'">
      ＋ 最大問題数を設定
    </button>

  </div>
</form>

<!-- 戻るボタン -->
<div class="mt-10 text-center">
  <a href="{% url 'homework_wizard_step3' %}"
     class="bg-green-500 hover:bg-green-700 text-white text-3xl font-bold py-4 px-8 rounded-xl shadow-lg inline-block">
    ← 戻る
  </a>
</div>
{% endblock %}
</body>
